<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" src="/image/weather.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
    <body>       
       <div class="main-content">
        {{>header}}
        </div>
        <p>Hi This is Debasis Acharya,A Full Stack Developer. I developed this Application to Grab the Weather Forecast for Any Location.
          This Application basically Developed in NodeJs. Some Third party API has been integrated i.e Mapbox.com and
          weatherstack.com.
        </p>
        <img class="portrate" src="/image/pic1.jpg">

        
           {{>footer}}
        
    </body>
</html>