<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" src="/image/weather.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
    <body>       
       <div class="main-content">
        {{>header}}
        </div>
        <img class="portrate" src="/image/pic1.jpg">

        
           {{>footer}}
        
    </body>
</html>