       
<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" src="/image/weather.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
       <div class="main-content">
        {{>header}}
        <H1>Help</H1>
       </div>
        
           {{>footer}}
        
    </body>
</html>