<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" src="/image/weather.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/style.css">
        
    </head>

<div class="main-content">
        
               {{>header}}
               <p>Use this site to get the Weather.</p>

               <p>Location:{{res}}</p>
        </div>
       <div>
           {{>footer}}
       </div> 
    </body>
</html>